API_ID=27656234
API_HASH=145b64b542140ff99aa3a1d01b0fe8c3
BOT_TOKEN=8354676697:AAFFat4dFRQn2OsdqKSC8PGI0_SKzsMwVaM
LOGGER_ID=-1002854002834
API_KEY=30DxNexGenBots8ea03d
MONGO_DB_URI=mongodb+srv://music6fhhfhhh_db_user:music6fhhfhhh_db_user@cluster0.wt3ased.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6361404699
STRING_SESSION=BQGmACoAS9yCxOU-lxQ0bNL5B2D_ZY4A6XB57anvVrzaNjpuUUajCre9SXeTUvAccnQNtjkESVwuf_UCB-kq10MC5hiDEhWMQFB9WUSxfT39wn7F-K_B9Z2Mqr9Kupt98_jR8FEoJzYVQpv1sY38hKoWp35jrISCw9r3TltpfE_5PlovuOl-jJIt1cB8aunVIc2HsL-LgvN_q17DLP7a50fyDx2mTzvjPN2eaJB5RZM2J60MTrSwyHTSMz-s4he6FnUSByR601W4v-OyArWQuyXF2Ex5YvYIAxksFkAAYEzzAwl3bkdifGAGIFKhTnVNvzi3qPPPOEhNrjNHXoXbKTchkI0pRgAAAAH2DhTtAA
