API_ID=27656234
API_HASH=145b64b542140ff99aa3a1d01b0fe8c3
BOT_TOKEN=8308894018:AAGnm3QOsetMwJi73rMhx8S58xb_4yL7sAU
LOGGER_ID=-1002854002834
API_KEY=30DxNexGenBots8ea03d
MONGO_DB_URI=mongodb+srv://music6fhhfhhh_db_user:music6fhhfhhh_db_user@cluster0.wt3ased.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6361404699
STRING_SESSION=AQF40E4AcefcIb6CgLokXdYNeLNrrQhDt3mQiDnxx_lg6SbB9_VEXdYMwGwBMqwJw9u8bwg5BjCZbJRj5FkJWK4kVZjLUPRcFkrrFk8d_xkGqvP1nzzWOGntsE9jUtlMeVbSuaQpVvsM9P-swp21ebRvwjiJLqLb1IhhWb_wPFw5XQHR49kU97VbVudakvEZKwUIkn7HTwRklKaQfm9XdoLIBjPS6xKtInEjaIFJ_JC-JXkhUL4zq1P6Ujnw9qeaWR5upxP7p762UdUN0AtMpS7ZfHZ8fhS7bUf4eX9zBH8vrqRk085FDeLLtSXLqnoC0LPG2WKIPXXLXmM__34iEMcTxtC46gAAAAHmg3u5AA
